@page "/login"

<html>

<h3>Menu Login</h3>
<body>

        <table class="auto-style1">
            <tr>

                <td>
                    <asp:Lable id=" Lable1" runat="server" contextmenu="username" />
                </td>


            </tr>



        </table>


</body>


</html>



@code {

}
